*.DS_Store
*afdesign~lock~
*.aux
*.fdb_latexmk
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.fls
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex(busy)
*.thm
Manuscript/manuscript.pdf
Manuscript/manuscript.synctex.gz
